bin/
node_modules/
bld/
dist/
repos/
LanguageConverter/
xhml/
microsoft-ui-xaml-main/
winjs-release-3.0-xenon/
Windows Library for Javascript Controls Gallery/
Concepts and Ideas/
Sample Applications/

*.orig
*.suo
*.user
*.sln.docstates
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
projects/vs2013/bld/
*.sublime-workspace
sauce_connect.log
npm-debug.log
.baseDir.ts
.tscache
*.tmp.txt

.settings/user.json
